.border{
    box-sizing: border-box;
    border: 1px solid black;
    font-size: 100px;
}

table{
    border: 1px solid black;
    border-collapse: collapse;
}

th{
    border: 1px solid black;
    border-collapse: collapse;
}

td{
    border: 1px solid black;
    border-collapse: collapse;
}